<!DOCTYPE html>
<html lang="zh-CN">
<head th:replace="admin/components::head(~{}, ~{})">
</head>
<body class="container-fluid">
<div th:replace="admin/components::header" />

<div class="alert alert-primary" role="alert">
    [[${title}]]&nbsp;<a href="edit">新建商品规格</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>规格名称&nbsp;[备注]</th>
        <th>规格数据</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${pagination.rows}">
        <td>
            <span th:text="${item.name}"></span>&nbsp;[<span class="small" th:text="${item.note}"></span>]
        </td>
        <td th:text="${item.value}"></td>

        <td>
            <a th:href="'edit?id=' + ${item.id}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
            <a th:href="'javascript:deleteRequest(%22delete?id=' + ${item.id} + '%22)'">
                <i class="fa fa-remove"></i>
            </a></td>
    </tr>
    </tbody>
</table>
<nav th:utext="${pagination.generateBootstrapPagination()}" />

<div th:replace="admin/components::footer" />
</body>
</html>
