<!-- menu  -->
<div class="col-2" th:fragment="menu">
    <div class="sub-menu">
        <h4>交易管理</h4>
        <ul class="">
            <li><a href="/user/orders">我的订单<span class="l-triangle"></span></a></li>
            <li><a href="/user/refund">退款申请<span class="l-triangle"></span></a></li>
            <li><a href="/user/attention">我的关注<span class="l-triangle"></span></a></li>
        </ul>
        <h4>客户服务</h4>
        <ul class="">
            <li><a href="/uc-consult.html">商品咨询<span class="l-triangle"></span></a></li>
            <li><a href="/uc-review.html">商品评价<span class="l-triangle"></span></a></li>
            <li><a href="/uc-message.html">我的消息<span class="l-triangle"></span></a></li>
        </ul>
        <h4>账户管理</h4>
        <ul class="">
            <li><a href="/user/info">个人资料<span class="l-triangle"></span></a></li>
            <li><a href="/user/password">修改密码<span class="l-triangle"></span></a></li>
            <li><a href="/user/union">账号绑定<span class="l-triangle"></span></a></li>
            <li><a href="/user/address">收货地址<span class="l-triangle"></span></a></li>
            <li><a href="/user/voucher">我的优惠券<span class="l-triangle"></span></a></li>
            <li><a href="/user/account">账户金额<span class="l-triangle"></span></a></li>
            <li><a href="/user/point">我的积分<span class="l-triangle"></span></a></li>
        </ul>
    </div>
</div>