<!DOCTYPE html>
<html lang="zh-CN">
<head th:replace="__${theme}__/components::head(~{::title},~{::link},~{::style})">
    <title th:text="个人资料- + ${siteName}"/>
    <link rel="stylesheet" th:href="${#helpers.retouch('/theme/' + theme + '/user.css')}">
    <style>
        .infoForm {
            padding-top: 8%;
            padding-left: 30%;
        }
    </style>
</head>
<body>
<div th:replace="__${theme}__/components::header"></div>
<div class="container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item"><a href="/user/central">用户中心</a></li>
                <li class="breadcrumb-item active" aria-current="page">个人资料</li>
            </ol>
        </nav>
    </div>
    <div th:replace="__${theme}__/user/components::menu"></div>
    <div class="col-8">
        <form class="infoForm" autocomplete="off" method="post">
            <ul>
                <li id="formError"></li>
                <li>
                    手机号：<input type="text" name="phone" th:value="${userToken.phone}"><br>
                </li>
                <li>
                    <input type="submit" value="确定">
                </li>
            </ul>
        </form>
    </div>

</div>
<footer th:replace="__${theme}__/components::footer"/>
</body>
</html>