<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{__${theme}__/components::head(link=~{::link},style=~{::style})}">
    <link rel="stylesheet" th:href="${#helpers.retouch('/theme/' + theme + '/user.css')}">
    <style>
        .passwordForm {
            padding-top: 8%;
            padding-left: 30%;
        }
    </style>
</head>
<body>
<div th:replace="~{__${theme}__/components::header}"></div>
<div class="container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item"><a href="/user/central">用户中心</a></li>
                <li class="breadcrumb-item active" aria-current="page">修改密码</li>
            </ol>
        </nav>
    </div>
    <div th:replace="~{__${theme}__/user/components::menu}"></div>
    <div class="col-8">
        <form class="passwordForm" method="post">
            <ul>
                <li id="formError"></li>
                <li>
                    原密码：<input type="password" name="oldPassword"><br>
                </li>
                <li>
                    新密码：<input type="password" name="password"><br>
                </li>
                <li>
                    重复新密码：<input type="password" name="password1"><br>
                </li>
                <li>
                    <input type="submit" value="确定">
                </li>
            </ul>
        </form>
    </div>

</div>
<footer th:replace="~{__${theme}__/components::footer}"></footer>
</body>
</html>