<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{__${theme}__/components::head(link=~{::link})}">
    <link rel="stylesheet" th:href="${#helpers.retouch('/theme/' + theme + '/user.css')}">
</head>
<body>
<div th:replace="~{__${theme}__/components::header}"></div>

<div class="container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item"><a href="/user/central">用户中心</a></li>
                <li aria-current="page" class="breadcrumb-item active">我的订单</li>
            </ol>
        </nav>
    </div>
    <div th:replace="~{__${theme}__/user/components::menu}"></div>

    <div class="col-10 padding-0">
        <div class="order-status-select">
            <div class="item"><a href="/user/order">
                所有订单
            </a></div>

            <a class="item" href="/user/order?status=0">待付款</a>
            <a class="item" href="/user/order?status=1">待发货</a>
            <a class="item" href="/user/order?status=2">待收货</a>
            <a class="item" href="/user/order?status=3">已完成</a>
            <div class="last-item">
                <a href="/user/order?deleted=1">订单回收站</a>
            </div>

        </div>
        <div class="order-item">
            <table>
                <tr>
                    <td></td>
                    <td>商品</td>
                    <td>单价</td>
                    <td>数量</td>
                    <td class="text-center">订单金额</td>
                    <td class="text-center">订单状态</td>
                </tr>
            </table>
        </div>
        <div class="order-item" th:each="order,iter : ${pagination.rows}">
            <table>
                <tr>
                    <td colspan="2">
                        &nbsp;&nbsp;&nbsp;<b>[[${order.createTime}]]</b>
                        &nbsp;&nbsp;订单号:&nbsp;<a th:href="@{/user/order/detail(no=${order.no})}"
                                                 th:text="${order.no}"></a>
                    </td>
                    <td class="text-right" colspan="4">
                        <a class="order-trash" href="javascript:;" th:data-no="${order.no}"
                           th:if="${order.deleted == 0 && order.status > 2}"><i class="fa fa-trash-o"></i></a>
                        <a class="order-delete" href="javascript:;" th:data-no="${order.no}"
                           th:if="${order.deleted == 1}"><i class="fa fa-trash-o"></i></a>
                        &nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
                <tr th:each="goods,itor : ${order.orderGoods}">
                    <td>
                        <a th:href="@{/goods/{id}.html(id=${goods.goodsId})}">
                            <img class="img-80" th:src="${#helpers.imgZoom(goods.img, 80, 80)}"></a></td>
                    <td>
                        <a class="goods-name" th:href="@{/goods/{id}.html(id=${goods.goodsId})}"
                           th:text="${goods.goodsName}"></a>
                        <span class="spec" th:if="${goods.specId > 0}" th:text="${goods.specDes}"></span>
                    </td>
                    <td th:text="${'￥' + goods.priceStr}"></td>
                    <td th:text="${goods.num}"></td>
                    <td class="border2 text-center" th:if="${itor.index == 0}">
                        <span class="price">[[${order.amountStr}]]</span>
                    </td>
                    <td class="border2 border-top-none" th:if="${itor.index > 0}"></td>
                    <td class="text-center" th:if="${itor.index == 0}">
                        <a th:href="@{/user/order/delete(no=${order.no},deleted=0)}"
                           th:if="${order.deleted == 1}">恢复</a>
                        <span th:text="${#helpers.getOrderStatusInfo(order.status)}"></span>&nbsp;&nbsp;
                        <a th:href="@{/user/order/pay(orderNo=${order.no})}"
                           th:if="${order.status == 0 && order.payTime == null}">立即付款</a>

                        <br>
                        <a class="order-cancel" href="javascript:;" th:data-no="${order.no}"
                           th:if="${order.status == 0}">取消订单</a>
                        <a th:href="@{/user/order/detail(no=${order.no})}">订单详情</a>
                        <span th:if="${order.status == 2}">
                            <a class="order-confirm" th:data-no="${order.no}" href="javascript:;">确认收货</a>
                        </span>

                    </td>
                    <td class="border-top-none" th:if="${itor.index > 0}"></td>
                </tr>
            </table>
        </div>


        <nav th:utext="${pagination.generateWebPagination()}"></nav>
    </div>
</div>

<script>
    // 取消订单
    document.querySelectorAll(".order-cancel").forEach(ele => {
        ele.addEventListener("click", evt => {
            var no = ele.getAttribute("data-no");
            if (confirm(no + " 确定要取消该订单么？")) {
                window.location = "/user/order/cancel?no=" + no;
            }
        });
    });

    // 确认收货
    document.querySelectorAll(".order-confirm").forEach(ele => {
        ele.addEventListener("click", evt => {
            var no = ele.getAttribute("data-no");
            if (confirm(no + " 确认收货么？")) {
                window.location = "/user/order/confirm?no=" + no;
            }
        });
    });

    // 订单移入回收站
    document.querySelectorAll(".order-trash").forEach(ele => {
        ele.addEventListener("click", evt => {
            var no = ele.getAttribute("data-no");
            if (confirm(no + " 确定要将订单移入回收站么？")) {
                window.location = "/user/order/delete?deleted=1&no=" + no;
            }
        });
    });

    // 从回收站删除订单
    document.querySelectorAll(".order-delete").forEach(ele => {
        ele.addEventListener("click", evt => {
            var no = ele.getAttribute("data-no");
            if (confirm(no + " 确定要删除订单么？")) {
                window.location = "/user/order/delete?deleted=2&no=" + no;
            }
        });
    });
</script>
<footer th:replace="~{__${theme}__/components::footer}"></footer>
</body>
</html>