<!DOCTYPE html>
<html lang="zh-CN">
<head th:replace="__${theme}__/components::head(~{::title},~{::link}, ~{})">
    <title th:text="'结算-' + ${siteName}"/>
    <link rel="stylesheet" th:href="${#helpers.retouch('/theme/' + theme + '/cart.css')}">
</head>
<body>
<style>
    #headerCart {
        display: none;
    }
</style>
<header th:replace="__${theme}__/components::header"/>

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item"><a href="/cart">购物车</a></li>
            <li class="breadcrumb-item active" aria-current="page">结算</li>
        </ol>
    </nav>
    <p class="tit">收货地址
        <a class="addAddr" href="javascript:;" id="addAddr">新增收货地址</a>
        <a class="addAddr" href="/user/address">管理收货地址</a>
    </p>
    <div class="row">
        <select class="addr">
            <option th:each="addr :${addresses}">
                [[${addr.name}]]&nbsp;&nbsp;[[${addr.phone}]]&nbsp;&nbsp;[[${#helpers.getRegion(addr.region)}]]
                &nbsp;[[${addr.address}]]
            </option>
        </select>
    </div>

    <p class="tit">商品清单</p>
    <table class="table" id="cartList">
        <thead>
        <tr>
            <th class="img">图片</th>
            <th class="name">商品名称</th>
            <th>单件重量</th>
            <th>单价</th>
            <th class="num">数量</th>
            <th class="sum">合计</th>
        </tr>
        </thead>
        <tr th:each="item : ${cart.items}" class="item" th:if="${item.selected}">
            <td><img th:src="${item.goodsImg}"></td>
            <td>
                <a th:href="@{/goods/{id}.html(id=${item.goodsId})}" th:text="${item.goodsName}"></a>
                <span th:text="${item.specDes}" class="specDes"></span>
            </td>
            <td th:text="${item.goodsWeight} + 'g'"></td>
            <td th:text="${#helpers.priceFormat(item.goodsPrice)}"></td>
            <td th:text="${item.num}"></td>
            <td th:text="${#helpers.priceFormat(item.goodsPrice * item.num)}" class="price"></td>
        </tr>
        <tr class="footer item text-right">
            <td colspan="6">
                商品总重量:&nbsp;&nbsp;[[${cart.sumWeight()}]]g<br>
                金额合计(不含运费):&nbsp;&nbsp;<span class="price" th:text="${#helpers.priceFormat(cart.sumPrice())}"></span>
            </td>
        </tr>
    </table>
    <div class="row">
        <a class="button toBuy" href="/cart/buy"><i class="fa fa-credit-card"></i>提交订单</a>
    </div>
</div>
<br><br>

<div class="model" id="model1">
    <div class="body">
        <form method="post" action="/user/address?back=/cart/buy">
            <input type="hidden" name="id" value="0">
            <div class="row">
                <div class="col-6">
                    <label>收货人:</label>
                    <input type="text" name="name">
                </div>
                <div class="col-6">
                    <label>电话:</label>
                    <input type="text" name="phone">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <label>省:</label>
                    <select id="province"></select>
                </div>
                <div class="col-4">
                    <label>市:</label>
                    <select id="city"></select>
                </div>
                <div class="col-4">
                    <label>区/县:</label>
                    <select id="area" name="code"></select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <label>详细地址:</label>
                    <input type="text" name="address">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <input type="checkbox" id="dft" name="dft" value="1" checked>
                    <label for="dft">设置为默认收货地址</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button id="cancel" type="reset">取消</button>&nbsp;&nbsp;
                    <button type="submit">确定</button>
                </div>
            </div>

        </form>
    </div>
</div>

<footer th:replace="__${theme}__/components::footer"/>
<script th:src="${#helpers.retouch('/theme/' + theme + '/buy.js')}"></script>
</body>
</html>