<!DOCTYPE html>
<html lang="zh-CN">
<head th:replace="admin/components::head(~{}, ~{})">
</head>
<body class="container-fluid">
<div th:replace="admin/components::header" />

<div class="alert alert-primary" role="alert" th:text="${title}"></div>
<form autocomplete="off" method="post">
    <input type='hidden' name='id' th:value="${item.id}">
    <div class="row">
        <div class="form-group col-md-12">
            <label for="name">品牌名称</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="品牌名称"
                   th:value="${item.name}" required>
        </div>
        <div class="form-group col-md-12">
            <label for="node">备注</label>
            <input type="text" class="form-control" id="note" name="note" placeholder="备注"
                   th:value="${item.note}">
        </div>


       
    </div>

    <div class="text-center"><button class="btn btn-primary">确定</button></div>
</form>
<br>
<div th:replace="admin/components::footer" />
</body>
</html>
